CodeSummarizer_n8n Automation/Code Summarizer.json
{
  "name": "Code Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "## Steps\n1. Read the code related mail-> Trigger\n2. Summarize the code using LLMs\n3. Generate comments for the code \n4. Step 2 3 must be done in parallel\n5. Merge the output for the cells 2 and 3 \n6. Send the output to me as a mail",
        "height": 192,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        -336
      ],
      "typeVersion": 1,
      "id": "de28d62a-e736-4b00-8589-9a816ebf9be3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "huzaifazaib69@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1200,
        -48
      ],
      "id": "0d2b3ff2-0e3d-472c-ab10-855ff842458e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "m2XwLq3iygDwgQ0t",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the code below:\ncode:\n{{ $json.text }}\n\nyou have to generate the commments for the code so that i can understand what each line of the code does and also comments should be like of how AI models usuallay gives  \n\nNote: You don't have to change the code of lines and you just have to add the comments where required.",
        "messages": {
          "messageValues": [
            {
              "message": "you are a helpful assistant and know how to write code in python. and you can help me understanding the code while adding comments  "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -752,
        -336
      ],
      "id": "e716cb13-6869-42f6-91d2-966675c6bd2b",
      "name": "Adding_Comments"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        -112
      ],
      "id": "8738afbd-ec1c-4fa3-8655-aa4b694a663e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qTSmXjloHvtdeIKd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        400
      ],
      "id": "e7ed8000-6b6e-4da9-ab8c-8561db4fafc7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "qTSmXjloHvtdeIKd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given the below:\nCode:\n{{ $json.text }}\n\ngenerate the summary for this in an easy language so that i can understand what is in the code and how it is working also you have to make sure there should be important detils in the summary.",
        "messages": {
          "messageValues": [
            {
              "message": "you are an expert in python code. you have ability to summarize the code in simple language and have the knowledge about the important details in the code "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -768,
        176
      ],
      "id": "ed3d7450-9212-43ae-9346-29e78e87a6b5",
      "name": "Code_Summary"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        -32
      ],
      "id": "31ad1436-7e1d-410f-8fde-65e82d45003c",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "09fd15b1-26f3-42b1-9846-c56cda15df45",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert the message into a html format.\nInclude proper code block where required the code block should have syntax highlighting for the specific used in the code.\n\nMessage:\n\n {{ $json.Message }}",
        "messages": {
          "messageValues": [
            {
              "message": "you can convert any message into html format that can be sent on mail to the user."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        -32
      ],
      "id": "3c0995a0-e779-4e5d-a4f7-c3e6e717eec4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        192
      ],
      "id": "f5827319-88b0-46e9-880b-7f6fd08b223d",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "qTSmXjloHvtdeIKd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8764fc0-61a4-48b9-ae32-fb4f1dcfc4a8",
              "name": "Message",
              "value": "=Code With Comments: \n\n{{ $json.text[0] }}\n\nCode Summary:\n\n{{ $json.text[1] }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -32
      ],
      "id": "aab57f8c-7b87-4aad-9f53-cdeb4461670f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "# Code Summarizer Agent",
        "height": 928,
        "width": 2208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -368
      ],
      "typeVersion": 1,
      "id": "945697d3-d112-4a3c-b50d-13da4df162d4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "huzaifazaib69@gmail.com",
        "subject": "Code Summary and Comments.",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -32
      ],
      "id": "f0319b0e-573e-4f62-a343-0e6687bda4f3",
      "name": "Send a message",
      "webhookId": "730395c3-de72-4bd7-9269-b88706d95efe",
      "credentials": {
        "gmailOAuth2": {
          "id": "m2XwLq3iygDwgQ0t",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19cfb159dab13a79",
          "threadId": "19cfb14fc82103e0",
          "labelIds": [
            "IMPORTANT",
            "SENT",
            "INBOX"
          ],
          "sizeEstimate": 3492,
          "headers": {
            "mime-version": "MIME-Version: 1.0",
            "date": "Date: Tue, 17 Mar 2026 14:16:57 +0500",
            "message-id": "Message-ID: <CANQWLQDD2mo6McJqkrqrdmzjA0-qKNL1nh7LwvKrrkKUZAG0jQ@mail.gmail.com>",
            "subject": "Subject: Reinforcement Learning Code",
            "from": "From: Muhammad Huzaifa Zeb <huzaifazaib69@gmail.com>",
            "to": "To: Muhammad Huzaifa Zeb <huzaifazaib69@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"00000000000070d13c064d34ccd2\""
          },
          "html": "<div dir=\"ltr\">import pandas as pd<br>from sklearn.model_selection import train_test_split<br>from sklearn.ensemble import RandomForestClassifier<br>from sklearn.metrics import accuracy_score, classification_report<br>import warnings<br>warnings.filterwarnings(&#39;ignore&#39;)<br><br>titanic_data = pd.read_csv(&#39;titanic.csv&#39;)<br><br>titanic_data = titanic_data.dropna(subset=[&#39;Survived&#39;])<br><br>X = titanic_data[[&#39;Pclass&#39;, &#39;Sex&#39;, &#39;Age&#39;, &#39;SibSp&#39;, &#39;Parch&#39;, &#39;Fare&#39;]]<br>y = titanic_data[&#39;Survived&#39;]<br><br>X[&#39;Sex&#39;] = X[&#39;Sex&#39;].map({&#39;female&#39;: 0, &#39;male&#39;: 1})<br>X[&#39;Age&#39;] = X[&#39;Age&#39;].fillna(X[&#39;Age&#39;].median())<br><br>X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)<br><br>rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)<br>rf_classifier.fit(X_train, y_train)<br><br>y_pred = rf_classifier.predict(X_test)<br><br>accuracy = accuracy_score(y_test, y_pred)<br>classification_rep = classification_report(y_test, y_pred)<br><br>print(f&quot;Accuracy: {accuracy:.2f}&quot;)<br>print(&quot;\\nClassification Report:\\n&quot;, classification_rep)<br><br>sample = X_test.iloc[0:1]<br>prediction = rf_classifier.predict(sample)<br><br>sample_dict = sample.iloc[0].to_dict()<br>print(f&quot;\\nSample Passenger: {sample_dict}&quot;)<br>print(f&quot;Predicted Survival: {&#39;Survived&#39; if prediction[0] == 1 else &#39;Did Not Survive&#39;}&quot;)</div>\n",
          "text": "import pandas as pd\nfrom sklearn.model_selection import train_test_split\nfrom sklearn.ensemble import RandomForestClassifier\nfrom sklearn.metrics import accuracy_score, classification_report\nimport warnings\nwarnings.filterwarnings('ignore')\n\ntitanic_data = pd.read_csv('titanic.csv')\n\ntitanic_data = titanic_data.dropna(subset=['Survived'])\n\nX = titanic_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]\ny = titanic_data['Survived']\n\nX['Sex'] = X['Sex'].map({'female': 0, 'male': 1})\nX['Age'] = X['Age'].fillna(X['Age'].median())\n\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,\nrandom_state=42)\n\nrf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)\nrf_classifier.fit(X_train, y_train)\n\ny_pred = rf_classifier.predict(X_test)\n\naccuracy = accuracy_score(y_test, y_pred)\nclassification_rep = classification_report(y_test, y_pred)\n\nprint(f\"Accuracy: {accuracy:.2f}\")\nprint(\"\\nClassification Report:\\n\", classification_rep)\n\nsample = X_test.iloc[0:1]\nprediction = rf_classifier.predict(sample)\n\nsample_dict = sample.iloc[0].to_dict()\nprint(f\"\\nSample Passenger: {sample_dict}\")\nprint(f\"Predicted Survival: {'Survived' if prediction[0] == 1 else 'Did Not\nSurvive'}\")\n",
          "textAsHtml": "<p>import pandas as pd<br/>from sklearn.model_selection import train_test_split<br/>from sklearn.ensemble import RandomForestClassifier<br/>from sklearn.metrics import accuracy_score, classification_report<br/>import warnings<br/>warnings.filterwarnings(&apos;ignore&apos;)</p><p>titanic_data = pd.read_csv(&apos;titanic.csv&apos;)</p><p>titanic_data = titanic_data.dropna(subset=[&apos;Survived&apos;])</p><p>X = titanic_data[[&apos;Pclass&apos;, &apos;Sex&apos;, &apos;Age&apos;, &apos;SibSp&apos;, &apos;Parch&apos;, &apos;Fare&apos;]]<br/>y = titanic_data[&apos;Survived&apos;]</p><p>X[&apos;Sex&apos;] = X[&apos;Sex&apos;].map({&apos;female&apos;: 0, &apos;male&apos;: 1})<br/>X[&apos;Age&apos;] = X[&apos;Age&apos;].fillna(X[&apos;Age&apos;].median())</p><p>X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,<br/>random_state=42)</p><p>rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)<br/>rf_classifier.fit(X_train, y_train)</p><p>y_pred = rf_classifier.predict(X_test)</p><p>accuracy = accuracy_score(y_test, y_pred)<br/>classification_rep = classification_report(y_test, y_pred)</p><p>print(f&quot;Accuracy: {accuracy:.2f}&quot;)<br/>print(&quot;\\nClassification Report:\\n&quot;, classification_rep)</p><p>sample = X_test.iloc[0:1]<br/>prediction = rf_classifier.predict(sample)</p><p>sample_dict = sample.iloc[0].to_dict()<br/>print(f&quot;\\nSample Passenger: {sample_dict}&quot;)<br/>print(f&quot;Predicted Survival: {&apos;Survived&apos; if prediction[0] == 1 else &apos;Did Not<br/>Survive&apos;}&quot;)</p>",
          "subject": "Reinforcement Learning Code",
          "date": "2026-03-17T09:16:57.000Z",
          "to": {
            "value": [
              {
                "address": "huzaifazaib69@gmail.com",
                "name": "Muhammad Huzaifa Zeb"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Muhammad Huzaifa Zeb</span> &lt;<a href=\"mailto:huzaifazaib69@gmail.com\" class=\"mp_address_email\">huzaifazaib69@gmail.com</a>&gt;</span>",
            "text": "\"Muhammad Huzaifa Zeb\" <huzaifazaib69@gmail.com>"
          },
          "from": {
            "value": [
              {
                "address": "huzaifazaib69@gmail.com",
                "name": "Muhammad Huzaifa Zeb"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Muhammad Huzaifa Zeb</span> &lt;<a href=\"mailto:huzaifazaib69@gmail.com\" class=\"mp_address_email\">huzaifazaib69@gmail.com</a>&gt;</span>",
            "text": "\"Muhammad Huzaifa Zeb\" <huzaifazaib69@gmail.com>"
          },
          "messageId": "<CANQWLQDD2mo6McJqkrqrdmzjA0-qKNL1nh7LwvKrrkKUZAG0jQ@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Adding_Comments": [
      {
        "json": {
          "text": "```python\n# Import necessary libraries for data manipulation, model building, and evaluation.\nimport pandas as pd\nfrom sklearn.model_selection import train_test_split  # For splitting data into training and testing sets.\nfrom sklearn.ensemble import RandomForestClassifier  # For implementing the Random Forest classification model.\nfrom sklearn.metrics import accuracy_score, classification_report  # For evaluating model performance.\nimport warnings\nwarnings.filterwarnings('ignore')  # Suppress warnings to keep the output clean during execution.\n\n# Load the Titanic dataset from a CSV file into a pandas DataFrame.\ntitanic_data = pd.read_csv('titanic.csv')\n\n# Preprocessing Step 1: Data Cleaning - Drop rows where the 'Survived' status is missing.\n# This ensures that we only train on instances with known outcomes.\ntitanic_data = titanic_data.dropna(subset=['Survived'])\n\n# Feature Selection: Define the input features (X) that the model will use for prediction.\n# Selected features include Pclass, Sex, Age, SibSp (siblings/spouse count), Parch (parents/children count), and Fare.\nX = titanic_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]\n# Target Variable Selection: Define the target variable (y) which is the survival status.\ny = titanic_data['Survived']\n\n# Feature Engineering/Encoding: Convert the categorical 'Sex' feature into numerical format (0 or 1).\n# Mapping 'female' to 0 and 'male' to 1, as models require numerical input.\nX['Sex'] = X['Sex'].map({'female': 0, 'male': 1})\n# Feature Imputation: Handle missing values in the 'Age' feature by filling them with the median age of the dataset.\nX['Age'] = X['Age'].fillna(X['Age'].median())\n\n# Data Splitting: Divide the feature set (X) and target set (y) into training and testing subsets.\n# 80% of the data is used for training (X_train, y_train), and 20% is reserved for final testing (X_test, y_test).\n# random_state ensures reproducibility of the split.\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,\nrandom_state=42)\n\n# Model Initialization: Instantiate the Random Forest Classifier.\n# n_estimators=100 means the forest will consist of 100 decision trees.\nrf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)\n# Model Training: Fit the classifier to the training data. The model learns the relationship between X_train and y_train.\nrf_classifier.fit(X_train, y_train)\n\n# Prediction: Generate predictions on the unseen test data (X_test).\ny_pred = rf_classifier.predict(X_test)\n\n# Model Evaluation (Accuracy): Calculate the overall accuracy of the model's predictions against the true test labels.\naccuracy = accuracy_score(y_test, y_pred)\n# Model Evaluation (Classification Report): Generate a detailed report including precision, recall, and F1-score for each class.\nclassification_rep = classification_report(y_test, y_pred)\n\n# Output Performance Metrics: Display the calculated accuracy, formatted to two decimal places.\nprint(f\"Accuracy: {accuracy:.2f}\")\n# Output Detailed Metrics: Print the full classification report.\nprint(\"\\nClassification Report:\\n\", classification_rep)\n\n# Example Inference: Select the first sample from the test set for a specific prediction demonstration.\nsample = X_test.iloc[0:1]\n# Make a prediction on this single sample.\nprediction = rf_classifier.predict(sample)\n\n# Data Formatting: Convert the features of the selected sample row into a Python dictionary for readable output.\nsample_dict = sample.iloc[0].to_dict()\n# Output the features of the sample passenger.\nprint(f\"\\nSample Passenger: {sample_dict}\")\n# Output the model's prediction for that passenger, translating the numerical output (0 or 1) back to text.\nprint(f\"Predicted Survival: {'Survived' if prediction[0] == 1 else 'Did Not Survive'}\")\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Code_Summary": [
      {
        "json": {
          "text": "This Python code is a complete mini-project to predict whether a passenger on the Titanic survived or not, using a machine learning technique called **Random Forest**.\n\nHere is a simple breakdown of what the code does, step by step:\n\n---\n\n## Simple Summary of the Code\n\nThis code is essentially teaching a computer to guess if a Titanic passenger lived or died based on their ticket details (like class, age, gender, etc.).\n\n1.  **Loading the Data:** It first loads the famous Titanic dataset, which contains passenger information.\n2.  **Cleaning the Data:** It makes sure the data is ready for the computer to read.\n    *   It **removes any rows where the 'Survived' status is missing** (we need to know the answer to train the model).\n    *   It converts the 'Sex' (male/female) into simple numbers (0s and 1s), as machines prefer numbers.\n    *   It **fills in any missing 'Age' values** by using the *median* (middle) age of all passengers.\n3.  **Splitting the Data:** It divides the cleaned data into two parts:\n    *   **Training Set (80%):** Used to teach the machine learning model.\n    *   **Testing Set (20%):** Held back to check how well the model learned later.\n4.  **Training the Model:** It uses the **Random Forest Classifier**—an advanced prediction method—to learn patterns from the training data.\n5.  **Making Predictions:** The trained model then tries to guess the survival status for the passengers in the *testing set*.\n6.  **Checking Performance:** It compares the model's guesses against the actual outcomes to see how accurate it is.\n7.  **Showing Results:** Finally, it prints two key results:\n    *   **Accuracy:** A percentage score showing how often the model guessed correctly.\n    *   **Classification Report:** A detailed breakdown of how well it predicted survival versus non-survival.\n8.  **One Final Test:** It takes the very first passenger from the test group, shows you their details, and tells you what the model *predicted* their fate was.\n\n---\n\n## Important Details You Should Know\n\nHere are the key technical components and decisions made in this code:\n\n| Detail | Explanation |\n| :--- | :--- |\n| **Libraries Used** | It relies heavily on **Pandas** for data handling and **Scikit-learn (sklearn)** for the machine learning tasks (splitting data, running the classifier, and checking accuracy). |\n| **Features Used (X)** | The model is trained using the following passenger attributes: `Pclass` (Ticket Class), `Sex`, `Age`, `SibSp` (Siblings/Spouses aboard), `Parch` (Parents/Children aboard), and `Fare` (Ticket Price). |\n| **Target Variable (y)** | The model tries to predict the **`Survived`** column (where 1 usually means survived and 0 means did not survive). |\n| **Data Preprocessing** | **Encoding:** The string 'Sex' is converted into numerical data (`female=0`, `male=1`). This is crucial because machine learning models only work with numbers. **Imputation:** Missing ages are filled using the **median age**, which is a robust way to handle missing numerical data without being overly skewed by extreme ages. |\n| **Model Choice** | **`RandomForestClassifier`** is used. This is an ensemble method that builds many individual decision trees and averages their results, making it generally very reliable and less prone to overfitting compared to a single decision tree. |\n| **Hyperparameter** | `n_estimators=100` means the Random Forest model builds **100 separate decision trees** to make its final prediction. |\n| **Splitting** | The data is split using `train_test_split` with `test_size=0.2`, meaning **80% for training and 20% for final testing.** `random_state=42` ensures that this split is the same every time the code runs, making the results reproducible. |\n| **Evaluation Metrics** | **Accuracy** gives the overall correctness. The **Classification Report** provides more detail, showing precision, recall, and the F1-score for both the \"Survived\" (1) and \"Did Not Survive\" (0) classes separately. |"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "text": "```python\n# Import necessary libraries for data manipulation, model building, and evaluation.\nimport pandas as pd\nfrom sklearn.model_selection import train_test_split  # For splitting data into training and testing sets.\nfrom sklearn.ensemble import RandomForestClassifier  # For implementing the Random Forest classification model.\nfrom sklearn.metrics import accuracy_score, classification_report  # For evaluating model performance.\nimport warnings\nwarnings.filterwarnings('ignore')  # Suppress warnings to keep the output clean during execution.\n\n# Load the Titanic dataset from a CSV file into a pandas DataFrame.\ntitanic_data = pd.read_csv('titanic.csv')\n\n# Preprocessing Step 1: Data Cleaning - Drop rows where the 'Survived' status is missing.\n# This ensures that we only train on instances with known outcomes.\ntitanic_data = titanic_data.dropna(subset=['Survived'])\n\n# Feature Selection: Define the input features (X) that the model will use for prediction.\n# Selected features include Pclass, Sex, Age, SibSp (siblings/spouse count), Parch (parents/children count), and Fare.\nX = titanic_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]\n# Target Variable Selection: Define the target variable (y) which is the survival status.\ny = titanic_data['Survived']\n\n# Feature Engineering/Encoding: Convert the categorical 'Sex' feature into numerical format (0 or 1).\n# Mapping 'female' to 0 and 'male' to 1, as models require numerical input.\nX['Sex'] = X['Sex'].map({'female': 0, 'male': 1})\n# Feature Imputation: Handle missing values in the 'Age' feature by filling them with the median age of the dataset.\nX['Age'] = X['Age'].fillna(X['Age'].median())\n\n# Data Splitting: Divide the feature set (X) and target set (y) into training and testing subsets.\n# 80% of the data is used for training (X_train, y_train), and 20% is reserved for final testing (X_test, y_test).\n# random_state ensures reproducibility of the split.\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,\nrandom_state=42)\n\n# Model Initialization: Instantiate the Random Forest Classifier.\n# n_estimators=100 means the forest will consist of 100 decision trees.\nrf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)\n# Model Training: Fit the classifier to the training data. The model learns the relationship between X_train and y_train.\nrf_classifier.fit(X_train, y_train)\n\n# Prediction: Generate predictions on the unseen test data (X_test).\ny_pred = rf_classifier.predict(X_test)\n\n# Model Evaluation (Accuracy): Calculate the overall accuracy of the model's predictions against the true test labels.\naccuracy = accuracy_score(y_test, y_pred)\n# Model Evaluation (Classification Report): Generate a detailed report including precision, recall, and F1-score for each class.\nclassification_rep = classification_report(y_test, y_pred)\n\n# Output Performance Metrics: Display the calculated accuracy, formatted to two decimal places.\nprint(f\"Accuracy: {accuracy:.2f}\")\n# Output Detailed Metrics: Print the full classification report.\nprint(\"\\nClassification Report:\\n\", classification_rep)\n\n# Example Inference: Select the first sample from the test set for a specific prediction demonstration.\nsample = X_test.iloc[0:1]\n# Make a prediction on this single sample.\nprediction = rf_classifier.predict(sample)\n\n# Data Formatting: Convert the features of the selected sample row into a Python dictionary for readable output.\nsample_dict = sample.iloc[0].to_dict()\n# Output the features of the sample passenger.\nprint(f\"\\nSample Passenger: {sample_dict}\")\n# Output the model's prediction for that passenger, translating the numerical output (0 or 1) back to text.\nprint(f\"Predicted Survival: {'Survived' if prediction[0] == 1 else 'Did Not Survive'}\")\n```"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "text": "This Python code is a complete mini-project to predict whether a passenger on the Titanic survived or not, using a machine learning technique called **Random Forest**.\n\nHere is a simple breakdown of what the code does, step by step:\n\n---\n\n## Simple Summary of the Code\n\nThis code is essentially teaching a computer to guess if a Titanic passenger lived or died based on their ticket details (like class, age, gender, etc.).\n\n1.  **Loading the Data:** It first loads the famous Titanic dataset, which contains passenger information.\n2.  **Cleaning the Data:** It makes sure the data is ready for the computer to read.\n    *   It **removes any rows where the 'Survived' status is missing** (we need to know the answer to train the model).\n    *   It converts the 'Sex' (male/female) into simple numbers (0s and 1s), as machines prefer numbers.\n    *   It **fills in any missing 'Age' values** by using the *median* (middle) age of all passengers.\n3.  **Splitting the Data:** It divides the cleaned data into two parts:\n    *   **Training Set (80%):** Used to teach the machine learning model.\n    *   **Testing Set (20%):** Held back to check how well the model learned later.\n4.  **Training the Model:** It uses the **Random Forest Classifier**—an advanced prediction method—to learn patterns from the training data.\n5.  **Making Predictions:** The trained model then tries to guess the survival status for the passengers in the *testing set*.\n6.  **Checking Performance:** It compares the model's guesses against the actual outcomes to see how accurate it is.\n7.  **Showing Results:** Finally, it prints two key results:\n    *   **Accuracy:** A percentage score showing how often the model guessed correctly.\n    *   **Classification Report:** A detailed breakdown of how well it predicted survival versus non-survival.\n8.  **One Final Test:** It takes the very first passenger from the test group, shows you their details, and tells you what the model *predicted* their fate was.\n\n---\n\n## Important Details You Should Know\n\nHere are the key technical components and decisions made in this code:\n\n| Detail | Explanation |\n| :--- | :--- |\n| **Libraries Used** | It relies heavily on **Pandas** for data handling and **Scikit-learn (sklearn)** for the machine learning tasks (splitting data, running the classifier, and checking accuracy). |\n| **Features Used (X)** | The model is trained using the following passenger attributes: `Pclass` (Ticket Class), `Sex`, `Age`, `SibSp` (Siblings/Spouses aboard), `Parch` (Parents/Children aboard), and `Fare` (Ticket Price). |\n| **Target Variable (y)** | The model tries to predict the **`Survived`** column (where 1 usually means survived and 0 means did not survive). |\n| **Data Preprocessing** | **Encoding:** The string 'Sex' is converted into numerical data (`female=0`, `male=1`). This is crucial because machine learning models only work with numbers. **Imputation:** Missing ages are filled using the **median age**, which is a robust way to handle missing numerical data without being overly skewed by extreme ages. |\n| **Model Choice** | **`RandomForestClassifier`** is used. This is an ensemble method that builds many individual decision trees and averages their results, making it generally very reliable and less prone to overfitting compared to a single decision tree. |\n| **Hyperparameter** | `n_estimators=100` means the Random Forest model builds **100 separate decision trees** to make its final prediction. |\n| **Splitting** | The data is split using `train_test_split` with `test_size=0.2`, meaning **80% for training and 20% for final testing.** `random_state=42` ensures that this split is the same every time the code runs, making the results reproducible. |\n| **Evaluation Metrics** | **Accuracy** gives the overall correctness. The **Classification Report** provides more detail, showing precision, recall, and the F1-score for both the \"Survived\" (1) and \"Did Not Survive\" (0) classes separately. |"
        },
        "pairedItem": {
          "item": 0,
          "input": 1
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "text": [
            "```python\n# Import necessary libraries for data manipulation, model building, and evaluation.\nimport pandas as pd\nfrom sklearn.model_selection import train_test_split  # For splitting data into training and testing sets.\nfrom sklearn.ensemble import RandomForestClassifier  # For implementing the Random Forest classification model.\nfrom sklearn.metrics import accuracy_score, classification_report  # For evaluating model performance.\nimport warnings\nwarnings.filterwarnings('ignore')  # Suppress warnings to keep the output clean during execution.\n\n# Load the Titanic dataset from a CSV file into a pandas DataFrame.\ntitanic_data = pd.read_csv('titanic.csv')\n\n# Preprocessing Step 1: Data Cleaning - Drop rows where the 'Survived' status is missing.\n# This ensures that we only train on instances with known outcomes.\ntitanic_data = titanic_data.dropna(subset=['Survived'])\n\n# Feature Selection: Define the input features (X) that the model will use for prediction.\n# Selected features include Pclass, Sex, Age, SibSp (siblings/spouse count), Parch (parents/children count), and Fare.\nX = titanic_data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]\n# Target Variable Selection: Define the target variable (y) which is the survival status.\ny = titanic_data['Survived']\n\n# Feature Engineering/Encoding: Convert the categorical 'Sex' feature into numerical format (0 or 1).\n# Mapping 'female' to 0 and 'male' to 1, as models require numerical input.\nX['Sex'] = X['Sex'].map({'female': 0, 'male': 1})\n# Feature Imputation: Handle missing values in the 'Age' feature by filling them with the median age of the dataset.\nX['Age'] = X['Age'].fillna(X['Age'].median())\n\n# Data Splitting: Divide the feature set (X) and target set (y) into training and testing subsets.\n# 80% of the data is used for training (X_train, y_train), and 20% is reserved for final testing (X_test, y_test).\n# random_state ensures reproducibility of the split.\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,\nrandom_state=42)\n\n# Model Initialization: Instantiate the Random Forest Classifier.\n# n_estimators=100 means the forest will consist of 100 decision trees.\nrf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)\n# Model Training: Fit the classifier to the training data. The model learns the relationship between X_train and y_train.\nrf_classifier.fit(X_train, y_train)\n\n# Prediction: Generate predictions on the unseen test data (X_test).\ny_pred = rf_classifier.predict(X_test)\n\n# Model Evaluation (Accuracy): Calculate the overall accuracy of the model's predictions against the true test labels.\naccuracy = accuracy_score(y_test, y_pred)\n# Model Evaluation (Classification Report): Generate a detailed report including precision, recall, and F1-score for each class.\nclassification_rep = classification_report(y_test, y_pred)\n\n# Output Performance Metrics: Display the calculated accuracy, formatted to two decimal places.\nprint(f\"Accuracy: {accuracy:.2f}\")\n# Output Detailed Metrics: Print the full classification report.\nprint(\"\\nClassification Report:\\n\", classification_rep)\n\n# Example Inference: Select the first sample from the test set for a specific prediction demonstration.\nsample = X_test.iloc[0:1]\n# Make a prediction on this single sample.\nprediction = rf_classifier.predict(sample)\n\n# Data Formatting: Convert the features of the selected sample row into a Python dictionary for readable output.\nsample_dict = sample.iloc[0].to_dict()\n# Output the features of the sample passenger.\nprint(f\"\\nSample Passenger: {sample_dict}\")\n# Output the model's prediction for that passenger, translating the numerical output (0 or 1) back to text.\nprint(f\"Predicted Survival: {'Survived' if prediction[0] == 1 else 'Did Not Survive'}\")\n```",
            "This Python code is a complete mini-project to predict whether a passenger on the Titanic survived or not, using a machine learning technique called **Random Forest**.\n\nHere is a simple breakdown of what the code does, step by step:\n\n---\n\n## Simple Summary of the Code\n\nThis code is essentially teaching a computer to guess if a Titanic passenger lived or died based on their ticket details (like class, age, gender, etc.).\n\n1.  **Loading the Data:** It first loads the famous Titanic dataset, which contains passenger information.\n2.  **Cleaning the Data:** It makes sure the data is ready for the computer to read.\n    *   It **removes any rows where the 'Survived' status is missing** (we need to know the answer to train the model).\n    *   It converts the 'Sex' (male/female) into simple numbers (0s and 1s), as machines prefer numbers.\n    *   It **fills in any missing 'Age' values** by using the *median* (middle) age of all passengers.\n3.  **Splitting the Data:** It divides the cleaned data into two parts:\n    *   **Training Set (80%):** Used to teach the machine learning model.\n    *   **Testing Set (20%):** Held back to check how well the model learned later.\n4.  **Training the Model:** It uses the **Random Forest Classifier**—an advanced prediction method—to learn patterns from the training data.\n5.  **Making Predictions:** The trained model then tries to guess the survival status for the passengers in the *testing set*.\n6.  **Checking Performance:** It compares the model's guesses against the actual outcomes to see how accurate it is.\n7.  **Showing Results:** Finally, it prints two key results:\n    *   **Accuracy:** A percentage score showing how often the model guessed correctly.\n    *   **Classification Report:** A detailed breakdown of how well it predicted survival versus non-survival.\n8.  **One Final Test:** It takes the very first passenger from the test group, shows you their details, and tells you what the model *predicted* their fate was.\n\n---\n\n## Important Details You Should Know\n\nHere are the key technical components and decisions made in this code:\n\n| Detail | Explanation |\n| :--- | :--- |\n| **Libraries Used** | It relies heavily on **Pandas** for data handling and **Scikit-learn (sklearn)** for the machine learning tasks (splitting data, running the classifier, and checking accuracy). |\n| **Features Used (X)** | The model is trained using the following passenger attributes: `Pclass` (Ticket Class), `Sex`, `Age`, `SibSp` (Siblings/Spouses aboard), `Parch` (Parents/Children aboard), and `Fare` (Ticket Price). |\n| **Target Variable (y)** | The model tries to predict the **`Survived`** column (where 1 usually means survived and 0 means did not survive). |\n| **Data Preprocessing** | **Encoding:** The string 'Sex' is converted into numerical data (`female=0`, `male=1`). This is crucial because machine learning models only work with numbers. **Imputation:** Missing ages are filled using the **median age**, which is a robust way to handle missing numerical data without being overly skewed by extreme ages. |\n| **Model Choice** | **`RandomForestClassifier`** is used. This is an ensemble method that builds many individual decision trees and averages their results, making it generally very reliable and less prone to overfitting compared to a single decision tree. |\n| **Hyperparameter** | `n_estimators=100` means the Random Forest model builds **100 separate decision trees** to make its final prediction. |\n| **Splitting** | The data is split using `train_test_split` with `test_size=0.2`, meaning **80% for training and 20% for final testing.** `random_state=42` ensures that this split is the same every time the code runs, making the results reproducible. |\n| **Evaluation Metrics** | **Accuracy** gives the overall correctness. The **Classification Report** provides more detail, showing precision, recall, and the F1-score for both the \"Survived\" (1) and \"Did Not Survive\" (0) classes separately. |"
          ]
        },
        "pairedItem": [
          {
            "item": 0
          },
          {
            "item": 1
          }
        ]
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Adding_Comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Adding_Comments",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Code_Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Adding_Comments": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6e16aabf-ac44-4790-b39f-18717d20e17b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e5f7c02a631d48957b892cc543eeec03e3a6d7a29fc4ce7296ae155ac9e0230"
  },
  "id": "iKBHrGt4RJ9OA1pE",
  "tags": []
}